In [21]:
import numpy as np
from numpy import array
from scipy import stats
def Q1Q2(x):
    n = np.array([len(xi) for xi in x]) # объемы выборок
    N = n.sum()
    k=len(n)
    xms = [xi.mean() for xi in x] # средние выборок
    xm = sum([xi.sum() for xi in x])/N # средняя по всем выборкам
    
    Q1 = sum([((xi-xmi)**2).sum() for xi, xmi in zip(x,xms)])
    Q2 = np.dot(n, (xms-xm)**2)
    
    f=(Q2/(k-1))/(Q1/(N-k))
    
    return [Q1, Q2, N, k, f]

In [3]:
import pandas as pd
df=pd.read_table('/home/geoteg/Загрузки/rugby.txt')
df.head()

   Game  Time
0     1  39.2
1     1   2.7
2     1   9.2
3     1  14.6
4     1   1.9

In [28]:
#df['Game'].unique()
a=list()
for i in df['Game'].unique():
    arr=df['Time'].loc[df['Game']==i].to_numpy()
    a.append(arr)
res=Q1Q2(a)
alpha=0.05
print(stats.f.ppf(1-alpha,res[3]-1,res[2]-res[3]))
print(res[4])

1.889525776660891
3.8867057658980033

In [25]:
a1=array([5.9, 6.0, 7.0, 6.5, 5.5, 7.0, 8.1, 7.5, 6.2, 6.4, 7.1, 6.9])
a2=array([4.0, 5.1, 6.2, 5.3, 4.5, 4.4, 5.3, 5.4, 5.6, 5.2])
a3=array([8.2, 6.8, 8.0, 7.5, 7.2, 7.9, 8.1, 8.5, 7.8, 8.1])
alpha=0.1
a=list()
a.append(a1)
a.append(a2)
a.append(a3)
res=Q1Q2(a)
print(stats.f.ppf(1-alpha,res[3]-1,res[2]-res[3]))
print(res[4])

2.4954833142354644
44.991068066769834

Линейный контраст

In [41]:
Lk12=a1.mean()-a2.mean()
sk=(res[0]/(12*(res[2]-res[3]))+res[0]/(10*(res[2]-res[3])))**0.5
left= Lk12-sk*((2*stats.f.ppf(1-alpha,2,res[2]-res[3]))**0.5)
right=Lk12+sk*((2*stats.f.ppf(1-alpha,2,res[2]-res[3]))**0.5)
print(left.round(3), right.round(3))

0.961 2.189